html{
    font-family:Verdana,sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
}
.ba500{
    background-image: url(https://w3schools.com/w3images/parallax1.jpg);
    height: 400px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 75%;
}
.ba502{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 11px;
    display: inline;
}
.ba502:hover{
    background-color: grey;
    transition-duration: 300ms;
}
.ba505{
    font-size: 14px;
    padding: 11px;
    justify-content: end;
    float: right;
}
.ba505:hover{
    background-color: black;
    color: white;
    transition-duration: 300ms;
}
.ba506{
    text-align: center;
}
.ba506{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ba507{
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: black;
    word-spacing: 3px;
    letter-spacing: 5px;
    display: inline-block;
    text-transform: uppercase;
    padding: 13px;
    white-space: nowrap;
}
.ba508{
    font-size: 14px;
    padding: 11px;
    float: right;
}
.ba508:hover{
    background-color: red;
    color: white;
    transition-duration: 300ms;
    justify-content: end;
}
.ba509{
    display: inline-block;
}
.ba511{
    margin-top: 80px;
}
.ba512{
    display: inline;
    white-space: nowrap;
    color: #777777;
    font-size: 24px;
    font-family: sans-serif;
}
.ba514{
    display: inline-block;
    white-space: nowrap;
    font: italic;
    font-size: 15px;
    margin-top: 10px;
    color: #777777;
    font-family: sans-serif;
}
.ba515{
    margin: 15px;
    font-family: sans-serif;
    color: #777777;
}