html{
    font-family:Verdana,sans-serif;
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
li{
    float: left;
}  
@keyframes slideUp {
    0% {
      -webkit-transform: translateY(70%);
    } 
    100% {
      -webkit-transform: translateY(0%);
    }
  }
@-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 100%;
      -webkit-transform: translateY(0%);
    }
}
.ba500{
    background-image: url(https://w3schools.com/w3images/parallax1.jpg);
    height: 400px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 75%;
    position: static;
}
.ba501{
    background-color: white;
    width: 100%;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
}
.ba502{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 11px;
    display: inline-block;
}
.ba502:hover{
    background-color: grey;
    transition-duration: 300ms;
}
.ba503{
    z-index: 1;
    pointer-events: all;
}
.ba504{
    font-size: 14px;
    margin-top: 6px;
}
.ba505{
    font-size: 14px;
    padding: 11px;
    justify-content: end;
    float: right;
}
.ba505:hover{
    background-color: black;
    color: white;
    transition-duration: 300ms;
}
.ba506{
    padding-top: 175px;
    position: static;
    pointer-events: none;
}
.ba507{
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: black;
    word-spacing: 3px;
    letter-spacing: 5px;
    display: inline-block;
    text-transform: uppercase;
    padding-top: 13px;
    white-space: nowrap;
    text-align: center;
    position: static;
}
.ba508{
    font-size: 14px;
    padding: 11px;
    float: right;
}
.ba508:hover{
    background-color: red;
    color: white;
    transition-duration: 300ms;
    justify-content: end;
}
#ba510{
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: 40px;
    padding-left: 10px;
    display: none;
}
.ba511{
    margin-top: 80px;
    pointer-events: none;
}
.ba512{
    display: inline;
    white-space: nowrap;
    color: #777777;
    font-size: 24px;
    font-family: sans-serif;
    pointer-events: none;
}
.ba514{
    display: inline-block;
    white-space: nowrap;
    font: italic;
    font-size: 15px;
    margin-top: 10px;
    color: #777777;
    font-family: sans-serif;
    pointer-events: none;
}
.ba515{
    font-family: sans-serif;
    color: #777777;
    pointer-events: none;
    width: 80%;
    margin: auto;
}
.ba516{
    font-size: 14px;
    padding: 11px;
    float: right;
}
#ba516{
    display: none;
}
.ba520{
    padding: 40px;
    z-index: -1;
}
.ba521{
    text-align: center;
    z-index: -1;
}
.ba522{
    position: sticky;
    z-index: -1;
    opacity: 0.7;
}
.ba522:hover{
    opacity: 1;
}
.ba523{
    font-size: 20px;
    padding: 15px;
    margin-top: 15px;
}
.ba526{
    padding: 40px;
}
.ba527{
    text-align: center;
    color: #777777;
    font-size: 20px;
}
.ba528{
    font-size: 15px;
    letter-spacing: 9px;
    color: #777777;
}
.ba532{
    background-color: rgb(36, 33, 33);
    color: white;
    font-size: large;
    text-align: center;
}
.ba533{
    padding: 20px;
}
.ba534{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRDkyVj5Yp4T2VITQWPUXI15gcA88i_k9RDWdVWjXRKx2prdZ2n);
    height: 400px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 75%;
    position: static;
    justify-content: center;
}
.ba535{
    color: white;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 9px;
    padding-top:200px;
}

* {
    box-sizing: border-box;
  }


body {
   
    margin: auto;
    font-family: 'Lato', sans-serif;
}
.work-container {
    padding: 60px 15px;
    color: #777777;

}
.work-container p{
    font-style: italic;
    font-size: 15px;
    margin-bottom: 50px;
}
.work-container img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px 15px;
}
.work-container img:hover{
    opacity: .6;
    cursor: pointer;
}
.work-container button {
    position: relative;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #000;
    margin-top: 50px;
    border-radius: 0%;
    
}
.work-container button:hover {
    background-color: #cccccc;
}


.contact-container p {
    position: relative;
    text-align: center;
    color: #ffff;
    font-size: 36px;
    letter-spacing: 10px;
    top: 50%;
}
.contact-container {
    background-image: url("/photos/parallax3.jpg");
    height: 400px;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: cover;

 
}
 .feedback-container {
     padding: 60px 15px;
     color: #777777;

 }


 .para{
    font-style: italic;
    font-size: 15px;
    margin-bottom: 50px;

 }

 .feedback-container img{
     width: 100%;
     height: auto;
     border-radius: 5px;
 }

 .feedback-container i{
     margin-right: 15px;
     display: inline-block;
 }

 .feedback-container i:hover {
  color: #000;
}

.map-txt{
    font-size: 20px;
    padding: 0px 0px 5px;
    margin: 0px;
    display: inline-block;

}

.feedback-container input{
    margin-bottom: 8px;
    padding: 8px;
    height: 50px;
    border-radius: 0px;
}

.feedback-container button{
    color:white;
    background-color: black;
    border-radius: 0px;
    float: right;
    padding: 10px 15px;
    margin: 15px 0px;
}
.feedback-container button:hover{
    background-color: #cccccc;
}
.footer-container{
    background-color:black;
    opacity: 0.6;
    padding: 64px;
}
.footer-container:hover{
    opacity: 1;
}
.footer-container a{
    background-color: #f1f1f1;
    border-radius: 0%;
    margin-left: 45%;

}
 .icone{ 
    color: white;
    text-align: center;
    margin: 15px 0px;
 }
 .ba5000{
     text-align: center;
     white-space: nowrap;
     display: inline-block;
 }